@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@200&display=swap');

:root {
    /* Color pallet*/
    --primary-color: #528540;
    --secondary-color: #CDDE47;
    --accent1-color: #DE7047;
    --accent2-color: #FFFFFF;
  
    /* Fonts */
    --heading-font: 'Permanent Marker', 'Brush Script MT';
    --paragraph-font: 'Poppins', 'Arial';
  
    /* Uses of color pallet */
    --headline-color-on-white: #528540;  /* headlines on a white background */ 
    --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
    --paragraph-color-on-white: #528540; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
    --paragraph-background-color: #528540;
    --nav-link-color: #528540;
    --nav-background-color: #CDDE47;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #528540;
  }

p {
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

h2 {
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #ffffff;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #CDDE47;
}

.logo {
    width: 80px;
    padding-top: 5px;
}

nav a {
    text-align: center;
    color:#528540;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #528540;
    color: #ffffff;
}

.home-title {
    color: #ffffff;
    font-size: 2em;
    margin-top: 10px;
}

#hero-image {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

h4 {
    color:#528540;
}

.button-box {
    text-align: center;
    background-color: #ffffff;
}

.book, .join {
    text-decoration: none;
    background-color: #ffffff;
    color: #528540;
    font: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #CDDE47;
    color: #528540;
}

.msg {
    background-color: #528540;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

.home-grid {
    background-color: #ffffff;
}

main section {
    text-align: center;
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #d9c2a3;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

#background {
    height: 725px;
    background-color: #DE7047;
}

footer {
    background-color: #CDDE47;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    text-decoration: none;
    color: #528540;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}