#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #ffffff;
}

header {
    background-color: #CDDE47;
}

.logo {
    width: 80px;
}

nav a {
    text-align: center;
    color:#528540;
    text-decoration: none;

}

nav a:hover {
    background-color: #528540;
    color: #ffffff;
}

.home-title {
    color: #ffffff;
}

#hero-image {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.icon {
    width: 80px;
}

h4 {
    color:#528540;
}

.button-box {
    text-align: center;
    background-color: #ffffff;
}

.book, .join {
    text-decoration: none;
    background-color: #ffffff;
    color: #528540;
}

.book:hover, .join:hover {
    background-color: #CDDE47;
    color: #528540;
}

.msg {
    background-color: #528540;
}

.home-grid {
    background-color: #ffffff;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #DE7047;
}

footer {
    background-color: #CDDE47;
}

footer p {
    font-size: 1.2em;
}

footer a {
    text-decoration: none;
    color: #528540;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}